body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    background-color: #0d004b;
    color: white;
    padding: 1rem 0;
}

nav ul {
    list-style: none;
    text-align: center;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin: 0 1rem;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 1.8vw;
}

section {
    padding: 4rem 2rem;
    max-width: 1200px;
    margin: 0 auto;
    height: 700px;
}

.hero {
    text-align: center;
    background-color: #f0f0f0;
}

.hero-content {
    padding: 2rem;
}

.hero-content p{
    font-size: 1.2rem;
}

.profile-img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
}
.about p{
    font-size: 1.2rem;
    text-align: justify;
}

.about ul {
    list-style: disc;
    margin-left: 2rem;
}


.projects .project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
}

.projects .project {
    border: 1px solid #ddd;
    padding: 1.5rem;
    border-radius: 8px;
}

.contact form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
}

.contact input,
.contact textarea,
.contact button {
    margin-bottom: 1rem;
    padding: 0.75rem;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.contact button {
    background-color: #333;
    color: white;
    cursor: pointer;
}

footer {
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 1rem 0;
    font-size: 1.2rem;
}

@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        text-align: center;
    }
    nav ul li {
        display: block;
        margin: 0.5rem 0;
    }
    .projects .project-grid {
        grid-template-columns: 1fr; /* Single column on smaller screens */
    }
}
